.root
{
    -fx-background-color: #bdbdbd;
    -fx-font-size: 14pt;
}

#header{
    -fx-font-size: 30pt;
    -fx-font-fill: #546e7a;
}

.button{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #494949;
    -fx-border-radius: 6px;
    -fx-text-fill: black;
}
.button:hover{
    -fx-background-color: #494949;
    -fx-border-radius: 6px;
    -fx-text-fill: white;

}

.list-cell{
    -fx-background-color: -fx-table-cell-border-color, #494949;

}

.list-view{
    -fx-background-radius: 6px;
    -fx-border-width: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: black;
    -fx-border-style: solid;

}



